@CHARSET "UTF-8";

div.update-categories {
	margin: 10px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	border: 2px solid gray;
	text-align: center;
}

div.update-categories > div.sub-title {
	text-align: left;
}

div.link-top {
	width: 100%;
	text-align: right;
}

div.update-categories > div.checkbox-row{
	padding: 2px 2px 2px 2px;
}

div.form-row {
  display: flex;
  gap: 1em; /* spacing between fields */
}

div.form-field {
  display: flex;
  flex-direction: column; /* label above input */
}

/* row with checkboxes for filter */
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 0.5em; /* spacing between items */
}


/* row selector */
.state {
	cursor: pointer;
	user-select: none;
}
.unpinned {
	opacity: 0.3;   /* faded */
}
.pinned {
	opacity: 1;
}
.selected {
	font-size: 1.5rem;
	color: green;
}